/* simple.scss */

#navbar {
  width: 80%;
  height: 23px;
  background-image: url(assets/play-active.png);

  ul { list-style-type: none; }
  li {
    float: left;
    a { font-weight: bold; }
  }
}

@import "import/import-1.scss";
